.main-toc {
  text-align: center;

  h3 {
    font-size: 1em;
  }

  h4 {
    margin: 0;
  }

  a {
    color: inherit;
  }

  > ol, > ul {
    display: inline-block;
    font-size: 1.45em;
    list-style: upper-roman;
    padding: 0 3em;
    text-align: left;
    font-family: "Liberation Serif", serif;

    > li  > ol, > li > ul {
      list-style: none;
      font-family: "Crimson Text", serif;
      font-size: 0.9em;
    }
  }
}
